<%= form_for(@user) do |f| %>
<% if @user.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

  <ul>
    <% @user.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<fieldset>
<legend>Your Data</legend>
<div class="row">
  <div class="large-4 columns">
    <label>Username*
      <%= f.text_field :username %>
    </label>
  </div>
  <div class="large-4 columns">
    <label>Email*
      <%= f.text_field :email %>
    </label>
  </div>
  <div class="large-4 columns">
    <label>Name*
      <%= f.text_field :name %>
    </label>
  </div>
</div>
<div class="row">
  <div class="large-6 columns">
    <label>Password*
      <%= f.password_field :password %>
    </label>
  </div>
  <div class="large-6 columns">
    <label>Password Confirmation*
      <%= f.password_field :password_confirmation %>
    </label>
  </div>
</div>
<div class="row">
  <div class="large-12 columns">
    <label>Bio
      <%= f.text_area :bio %>
    </label>
  </div>
</div>
<div class="row">
  <div class="large-4 columns text-center">
    <label>Profile Picture
      <%= f.file_field :profile_image, class: "button tiny" %>
    </label>
  </div>
  <div class="large-4 columns">
    <label>Last.fm Account Name
      <%= f.text_field :lastfm_account %>
    </label>
  </div>
  <div class="large-4 columns text-center">
    <label>Fetch Data?</label>
    <%= f.check_box :fetch_data %><label for="checkbox">Yes</label>
  </div>
</div>
<div id="create_button" class="actions text-center">
  <%= f.submit class: "button" %>
</div>
</fieldset>

<% end %>

