<p id="notice"><%= notice %></p>
<div class="search">
<%= search_form_for @q do |f| %>
<%= f.text_field :username_cont, :placeholder => "Search" %>
<div class="actions"><%= f.submit "Search" %></div>
<% end %>
</div>

<h1>Listing Users</h1>

<% @users.each do |user| %>
<ul class="pricing-table">
  <li class="title"><%= user.username %></li>
  <div class="text-center"><%= link_to image_tag(user.profile_image.thumb.url), user %></div>
  <li class="price"><%= user.name %></li>
  <li class="description"><%= user.bio %></li>
  <li class="cta-button"><a class="button" href="#">Buy Now</a></li>
</ul>
<% end %>



