<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Bio:</strong>
  <%= @user.bio %>
</p>

<p>
  <strong>Profile image:</strong>
  <%= image_tag @user.profile_image.thumb.url %>
</p>

<p>
  <strong>Background image:</strong>
  <%= image_tag @user.background_image.thumb.url %>
</p>

<ul>
  <strong>Playlists:</strong>
  <li><%= link_to "All", @user %></li>
  <%= render @user.playlists.order('LOWER(name)') %>
</ul>

<ul>
<strong>Albums:</strong>
<%= render @user.albums.order('LOWER(artist)') %>
</ul>
