<div class="panel callout radius">
  <h3 class="text-center"><%= @user.name %></h3>
  <div class="text-center"><%= image_tag @user.profile_image.thumb.url %></div>
  <h5 class="text-center">@<%= @user.username %></h5>
  <h5 class="text-center"><%= @user.bio %></h5>
</div>

<dl class="sub-nav hide-for-small-only">
  <dt class="center">Playlists:</dt>
  <dd><%= link_to "All", @user %></dd>
  <dd><%= render @user.playlists.order('LOWER(name)') %></dd>
</dl>

<div class="row" data-equalizer>
<%= render @user.albums.order('LOWER(artist)') %>
</div>


<!-- <ul>
  <strong>Albums:</strong>
  < %= render @user.albums.order('LOWER(artist)') %>
</ul> -->