<div id="wrap">

  <div id="profile" class="row">
    <div class="large-12 columns"><h2 id="profile_h2" class="text-center"><%= @album.user.name %></h2></div>
    <div id="profile_picture" class="large-12 columns text-center"><%= image_tag @album.user.profile_image.thumb.url %></div>
    <div class="large-12 columns">
      <h3 id="profile_h3" class="text-center">@<%= @album.user.username %></h3>
      <h4 class="text-center"><%= @album.user.bio %></h4>
    </div>
  </div>

  <div class="row">
    <dl class="sub-nav large-12 columns center hide-for-small-only">
      <dt>#</dt>
      <dd><%= link_to "All Albums", @album.user %></dd>
      <dd><%= render partial: "playlists/playlist", collection: @plays.order('LOWER(name)') %></dd>
    </dl>
  </div>

  <div class="row panel callout radius">
    <div class="large-4 columns text-center"><%= image_tag(@album.cover_art, size: "300x300") %></div>
    <div class="large-8 columns">
    <h1 id="album_title" class="text-center"><%= @album.title %></h1>
    <h3 class="text-center"><%= @album.artist %></h3>
    <h4 class="text-center"><%= @album.year %></h4>
    <h5 id="album_review" class="text-center"><%= @album.review %></h5>
    <div class="text-center">
    <%= link_to "Album Details", @album.info_url, :target => "_blank", class: "tiny button" %>
    </div>
    <% if logged_in? %>
    <div class="text-center">
    <%= link_to "Like", like_album_path(@album), method: :put, class: "tiny button" %>
    <button id="counter" class="tiny button disabled"><%= @album.thumbs_up %></button>
    <%= link_to "Dislike", dislike_album_path(@album), method: :put, class: "tiny button" %>
    <button id="counter" class="tiny button disabled"><%= @album.thumbs_down %></button>
    </div>
    <% end %>
    </div>
    </div>


  <div id="push"></div>
</div>

<div id="footer">
  <% if current_user == @album.user %>
  <li id="footer_li"><%= link_to 'Edit Album', edit_album_path(@album), class: "small button" %></li>
  <li id="footer_li"><%= link_to 'Delete Album', @album, method: :delete, class: "small button", data: { confirm: 'Are you sure?' } %></li>
  <% end %>
</div>
