<div id="wrap">

  <div class="panel callout radius">
    <h3 class="text-center"><%= @album.user.name %></h3>
    <div class="text-center"><%= image_tag @album.user.profile_image.thumb.url %></div>
    <h5 class="text-center">@<%= @album.user.username %></h5>
    <h5 class="text-center"><%= @album.user.bio %></h5>
  </div>

  <dl class="sub-nav hide-for-small-only">
    <dt class="center">Playlists:</dt>
    <dd><%= link_to "All", @album.user %></dd>
    <dd><%= render partial: "playlists/playlist", collection: @plays.order('LOWER(name)') %></dd>
  </dl>

  <div class="panel callout radius">
    <div class="text-center"><%= image_tag(@album.cover_art, size: "300x300") %></div>
    <h3 class="text-center"><%= @album.title %></h3>
    <h3 class="text-center"><%= @album.artist %></h3>
    <h3 class="text-center"><%= @album.year %></h3>
    <h3 class="text-center"><%= @album.review %></h3>
    <h3 class="text-center"><%= link_to "Album Details", @album.info_url, :target => "_blank" %></h3>
    <% if logged_in? %>
    <h3 class="text-center"><%= link_to "upvote", like_album_path(@album), method: :put %> <%= link_to "downvote", dislike_album_path(@album), method: :put %></h3>
    <% end %>
    <h3 class="text-center">Thumbs Up: <%= @album.thumbs_up %> Thumbs Down: <%= @album.thumbs_down %></h3>
  </div>

  <div id="push"></div>
</div>

<div id="footer">
  <% if current_user == @album.user %>
  <li id="footer_li"><%= link_to 'Edit Album', edit_album_path(@album) %></li>
  <li id="footer_li"><%= link_to 'Delete Album', @album, method: :delete, data: { confirm: 'Are you sure?' } %></li>
  <% end %>
</div>
