<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @album.title %>
</p>

<p>
  <strong>Artist:</strong>
  <%= @album.artist %>
</p>

<p>
  <strong>Year:</strong>
  <%= @album.year %>
</p>

<p>
  <strong>Cover art:</strong>
  <%= @album.cover_art %>
</p>

<p>
  <strong>Review:</strong>
  <%= @album.review %>
</p>

<% if logged_in? %>
<p>
  <%= link_to "upvote", like_album_path(@album), method: :put %>
</p>
<% end %>

<p>
  <strong>Thumbs Up:</strong>
  <%= @album.thumbs_up %>
</p>

<% if logged_in? %>
<p>
  <%= link_to "downvote", dislike_album_path(@album), method: :put %>
</p>
<% end %>

<p>
  <strong>Thumbs Down:</strong>
  <%= @album.thumbs_down %>
</p>

<p>
  <strong>Info url:</strong>
  <%= @album.info_url %>
</p>

<p>
  <strong>User:</strong>
  <%= link_to @album.user.try(:username), @album.user %>
</p>

<p>
  <strong>Playlist:</strong>
  <%= @album.playlist %>
</p>

<%= link_to 'Edit', edit_album_path(@album) %> |
<%= link_to 'Back', albums_path %>
