<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @album.user.username %>
</p>

<p>
  <strong>Email:</strong>
  <%= @album.user.email %>
</p>

<p>
  <strong>Name:</strong>
  <%= @album.user.name %>
</p>

<p>
  <strong>Bio:</strong>
  <%= @album.user.bio %>
</p>

<p>
  <strong>Profile image:</strong>
  <%= @album.user.profile_image %>
</p>


<p>
  <strong>Background image:</strong>
  <%= @album.user.background_image %>
</p>

<ul>
  <strong>Playlists:</strong>
  <li><%= link_to "All", @album.user %></li>
  <%= render partial: "playlists/playlist", collection: @plays %>
</ul>

<p>
  <strong>Title:</strong>
  <%= @album.title %>
</p>

<p>
  <strong>Artist:</strong>
  <%= @album.artist %>
</p>

<p>
  <strong>Year:</strong>
  <%= @album.year %>
</p>

<p>
  <strong>Cover art:</strong>
  <%= image_tag @album.cover_art %>
</p>

<p>
  <strong>Review:</strong>
  <%= @album.review %>
</p>

<% if logged_in? %>
<p>
  <%= link_to "upvote", like_album_path(@album), method: :put %>
</p>
<% end %>

<p>
  <strong>Thumbs Up:</strong>
  <%= @album.thumbs_up %>
</p>

<% if logged_in? %>
<p>
  <%= link_to "downvote", dislike_album_path(@album), method: :put %>
</p>
<% end %>

<p>
  <strong>Thumbs Down:</strong>
  <%= @album.thumbs_down %>
</p>

<p>
  <strong>Info url:</strong>
  <%= link_to @album.info_url, @album.info_url, :target => "_blank" %>
</p>

<% if current_user == @album.user %>
<li><%= link_to 'Edit', edit_album_path(@album) %></li>
<li><%= link_to 'Delete', @album, method: :delete, data: { confirm: 'Are you sure?' } %></li>
<% end %>

<%= link_to 'Back', albums_path %>
