<div id="wrap">

  <div id="profile" class="row">
    <div class="large-12 columns"><h2 id="profile_h2" class="text-center"><%= @playlist.user.name %></h2></div>
    <div id="profile_picture" class="large-12 columns text-center"><%= image_tag @playlist.user.profile_image.thumb.url %></div>
    <div class="large-12 columns">
      <h3 id="profile_h3" class="text-center">@<%= @playlist.user.username %></h3>
      <h4 class="text-center"><%= @playlist.user.bio %></h4>
    </div>
  </div>

  <div class="row">
    <dl class="sub-nav large-12 columns center hide-for-small-only">
      <dt>#</dt>
      <dd><%= link_to "All Albums", @playlist.user %></dd>
      <dd><%= render partial: "playlist", collection: @plays.order('LOWER(name)') %></dd>
    </dl>
  </div>

  <div id="playlist_container" class="row" data-equalizer>
    <%= render @playlist.albums.order('LOWER(artist)') %>
  </div>

  <div id="push"></div>
</div>

<div id="footer">
  <% if current_user == @playlist.user %>
  <li id="footer_li"><%= link_to 'Edit Playlist', edit_playlist_path(@playlist), class: "small button" %></li>
  <li id="footer_li"><%= link_to 'Delete Playlist', @playlist, method: :delete, class: "small button",data: { confirm: 'Are you sure?' } %></li>
  <% end %>
</div>