<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @playlist.user.username %>
</p>

<p>
  <strong>Email:</strong>
  <%= @playlist.user.email %>
</p>

<p>
  <strong>Name:</strong>
  <%= @playlist.user.name %>
</p>

<p>
  <strong>Bio:</strong>
  <%= @playlist.user.bio %>
</p>

<p>
  <strong>Profile image:</strong>
  <%= @playlist.user.profile_image %>
</p>


<p>
  <strong>Background image:</strong>
  <%= @playlist.user.background_image %>
</p>

<ul>
  <strong>Playlists:</strong>
  <li><%= link_to "All", @playlist.user %></li>
  <%= render partial: "playlist", collection: @plays.order('LOWER(name)') %>
</ul>

<ul>
<%= render @playlist.albums.order('LOWER(artist)') %>
</ul>

<% if current_user == @playlist.user %>
<li><%= link_to 'Edit', edit_playlist_path(@playlist) %></li>
<li><%= link_to 'Delete', @playlist, method: :delete, data: { confirm: 'Are you sure?' } %></li>
<% end %>
